lib_managed/
.idea/
/target/
project/target/
project/project/target/
src/pack/python/hh2/
src/pack/python/hh3/
src/pack/python/metastore_db/
src/pack/python/derby.log
src/pack/python/*.pickle
src/pack/python/DeleteMe
Research/Data
*.pyc